*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    /* добавим плавность переходов для всех элементов страницы*/
    
 }
 .banerSubmit>svg{
    transition: none;
 }
 /* хром, сафари */
*::-webkit-scrollbar { width: 0; }

/* ie 10+ */
*{ -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
* { overflow: -moz-scrollbars-none; }
 ul {
    list-style: none;
 }
 img {
    display: block;
    width: 100%;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
 }

 :root{
    --scroll-width:0px !important;
    overflow-x: hidden !important;
 }

 .unselectable {
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* стандартное свойство */
  }
body {
    position: relative;
    background-color: #0F0F0F !important;
    overflow-x: hidden !important;
}
header {
    display: flex;
    width: 100%;
    height: 60px;
}
.container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
#logo {
    z-index: 99;
}
#menuMobal {
    z-index: 98;
    overflow: hidden;
    position: fixed;
}
#menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
#menu a {
    text-decoration: none !important;
    outline: none;
    /* Игровой зал */
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 28px;

    color: #FFEFD5 !important;
 }
#menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 7em;
}
#menu li>svg{
    position: absolute;
    top:25px;
    width: 14px;
    height: 14px;
    opacity: 0;
}
#menu li:hover svg{
    opacity: 1;
}
#bankConteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bankTitle {
    position: absolute;
    color: #FFEFD580;
    top:-20px;
    min-width: 63px;
}
#bank {
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 200;
    font-size: 21px;
    line-height: 28px;
    color: #FFEFD5 !important;
    /* золото */
    background: linear-gradient(180deg, #E8C463 0.31%, #C78E2D 20.1%, #D6AF57 41.98%, #E4C975 52.91%, #F4E497 60.2%, rgba(228, 200, 115, 0.990233) 60.21%, rgba(195, 142, 40, 0.97) 84.69%, #EAC462 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    margin-bottom: 0;
}


#menu{
    margin-top: 1rem; 
    margin-bottom: 0 !important; 
}
#logo {
    position: absolute;
    top:4px;
    left:50px;
    z-index: 99;
}
#logo img{
    width: 10em;
}

#logAndreg {
    position: absolute;
    width: 315px;
    display: flex;
    right: 0;
    top: 16px;
    justify-content: flex-start;
}

#logon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    /* Вход */
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 89%;
    /* or 21px */
    letter-spacing: 0.01em;
    color: #FFEFD5;
    /* кнопка-вход */
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid #FFEFD5;
    border-radius: 4px;
    margin-right: 5px;
    transition:background 340ms;
}
#blurL {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid #FFEFD5;
    filter: blur(8px);
    border-radius: 4px;
}
#logon:hover{
    background: rgba(244, 225, 175, 0.15);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#reg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px; 
     /* Вход */
     font-family: 'Brygada 1918';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 89%;
     /* or 21px */
     letter-spacing: 0.01em;
     color: #FFEFD5;
     /* кнопка-вход */
     box-sizing: border-box;
     gap: 10px;
     border: 1px solid #FFEFD5;
     border-radius: 4px;
     transition:background 340ms;
}
#reg:hover{
    background: rgba(244, 225, 175, 0.15);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#blurR {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid #FFEFD5;
    filter: blur(8px);
    border-radius: 4px;
}

#wrapMenu {
    position: absolute;
    right: 0;
    top:0;
    display: none;
}

#menuMobal {
    display: none;
}


#clouseMenu {
    display: none;
    position: absolute;
    z-index: 999;
    opacity: 0;
    top: 10px;
}

/* футер */
.deskFooter {
    margin-top: 10px;
    display: flex;
    /* прямоугольник */
    background: #282B32;
    flex-direction: column;
}
.FooterTitle {
    /* Конфиденциальность на сайте Королевское Казино */

    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #ffefd5d4;
    margin-bottom: 20px;

}
.FooterText {
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.09em;
    color: rgba(255, 239, 213, 0.63);
}

.FooterL1{
    
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.FooterL1 svg {
    height:calc(30px + 16 * (100vw / 1280));
    width: auto;
}

.menuFooter{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#menuFooter a{
    text-decoration: none;
    /* О нас Акции Партнервская программа Правила и условия Ставки на спорт */


    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #E3D7C5;


}
.payment {
    padding-left: 30px;
}
.FooterL2{
    padding-bottom: 30px;

    padding-top: 20px;
    border-top: 1px solid #FFFFFF;

}
.FooterL3 {
    display: flex;
    justify-content: space-around;
    max-height: 100px;
    background-color: #0F0F0F;
    padding-top: 10px;
    padding-bottom: 10px;
}
.FooterL3 img{
    object-fit: cover;
    max-height: 45px;
    max-width: 45px;
}
.FooterL3-tpMessageWrite {
    display: flex;
    align-items: center;
    /* Написать в поддержку */
    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.06em;

    color: #FFEFD5;
}
.FooterL3-coopirate {
    display: flex;
    align-items: center;


    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: #FFEFD5;


}
#Flat {
    width: auto;
    height: 30px;
    fill: wheat;
    margin-right: 5px;
}
.FooterL3-KrazuTeem {
    /* KrazuTeem */


    font-family: 'Brygada 1918';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 47px;
    /* identical to box height */
    letter-spacing: 0.01em;

    color: rgba(255, 239, 213, 0.89);


}

#wrapMenu {
    z-index: 99;
    position: fixed;
}
#lineH{
    margin-bottom: 10px;
}

#menuFooter a:hover{
    color: #fffbb3;
    transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
}
@media (min-width: 700px) and (max-width: 1100px) {
    #logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 99;
        width: 160px;
    }
    #menu {
        display: none;
    }

    #logAndreg {
        left: 20px;
        right: auto;
    }
    #wrapMenu {
        display: block;
        width: 82px;
        height: 82px;  
        z-index: 99;
        position: fixed;
    }
    #wrapMenuButt {
        position: absolute;
        z-index: 999;
        opacity: 1;
        top: 10px;
    }
    #wrapMenuBlur {
        position: absolute;
        top:-4px;
        left:-15px;
        height: 80px;
        opacity: 1;
    }


    #menuMobal {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100vh;
        top:0;
        padding-left: 0;
        box-shadow: 0 0 10px #85888C;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        right: -101%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        color: #0F0F0F;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        background-color: #0F0F0F;
    }
    #menuMobalUl {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    #menuMobalUl a {
        color: #FFFFFF;
        text-decoration: none;
    }
    #menuMobalUl a:hover{
        color: #fffbb3;
        transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menuMobal li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menuMobalUl0 {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    #menuMobalUl0 li {
        margin: auto;
        margin-left: 10px;
        color: #9B9B9B;
        cursor: pointer;
    }
    #menuMobalUl0 li:hover{
        color: #fffbb3;
        transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}

@media (max-width: 700px){
    #lineH {
        margin-bottom: -20px;
    }
    #clouseMenu {
        display: none;
        position: absolute;
        z-index: 999;
        opacity: 0;
        top: 10px;
        height: 33px;
    }

    #logo {
        position: absolute;
        top: 19px;
        left: 3%;
        width: 80px;
    }
    #logo img {
        width: 80px;
    }
    #reg {
        display: none;
    }
    #logAndreg {
        display: none;
    }
    #menu {
        display: none;
    }
    #wrapMenu {
        display: block;
        width: 82px;
        height: 82px;
        right: -31px !important; 
        margin-top: 5px;
    }
    #wrapMenuButt {
        position: absolute;
        z-index: 999;
        opacity: 1;
        border-radius: 1px;
        top: 4px;
        height: 33px;
    }
    #wrapMenuBlur {
        position: absolute;
        top:-10px;
        left:-16px;
        height: 60px;
        opacity: 1;
    }
    #wrapMenuBlur svg {
        height: 60px;
    }
    header {
        height: 28px;
    }



    #menuMobal {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100vh;
        top:0;
        padding-left: 0;
        box-shadow: 0 0 10px #85888C;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        right: -101%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        color: #0F0F0F;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        background-color: #0F0F0F;
    }
    #menuMobalUl {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        margin-top: 5px;
    }
    #menuMobalUl a {
        color: #FFFFFF;
        text-decoration: none;
    }
    #menuMobalUl a:hover{
        color: #fffbb3;
        transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menuMobal li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #menuMobalUl0 {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        margin-bottom: 15px;
    }
    #menuMobalUl0 li {
        margin: auto;
        margin-left: 10px;
        color: #9B9B9B;
        cursor: pointer;
    }
    #menuMobalUl0 li:hover{
        color: #fffbb3;
        transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .deskFooter {
        display: none;
    }
    .mobileFooter {
        display: block !important;
        position: relative;
        /* Rectangle 64 */
        background: rgba(40, 43, 50, 0.89);
        width: 100%;
        border-top: 0.7px solid #E8C463;
    }
    .Footerlogo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        top:-46px;
    }
    .footerOrgName {
        font-family: 'Brygada 1918';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 56px;

        /* золото */
        background: linear-gradient(180deg, #E8C463 0.31%, #C78E2D 20.1%, #D6AF57 41.98%, #E4C975 52.91%, #F4E497 60.2%, rgba(228, 200, 115, 0.990233) 60.21%, rgba(195, 142, 40, 0.97) 84.69%, #EAC462 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }
    .Footerlogo img{
        height: 100px;
        width: auto;
    }
    .FooterMainL {
        padding-top: 106px;
    }
    .FooterEndL {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .FooterEndL-Support {
        /* Написать в поддержку */
        font-family: 'Brygada 1918';
        font-style: normal;
        font-weight: 600;
        font-size: calc(12px + 16 * (100vw / 1280));
        line-height: 37px;
        letter-spacing: 0.03em;

        /* золото */
        background: linear-gradient(180deg, #E8C463 0.31%, #C78E2D 20.1%, #D6AF57 41.98%, #E4C975 52.91%, #F4E497 60.2%, rgba(228, 200, 115, 0.990233) 60.21%, rgba(195, 142, 40, 0.97) 84.69%, #EAC462 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .FooterEndL-Pyment svg{
        width: calc(160px + 16 * (100vw / 1280));
    }
    .FooterFinak {
        display: flex;
        background: #0F0F0F;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5px;
        margin-bottom: 5px;
    }

    .CopyrateMobile {
        display: flex;
        align-items: center;
    }
    .CopyrateMobile-text {
        /* 2023 Копирает */
        font-family: 'Brygada 1918';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.03em;

        color: rgba(255, 239, 213, 0.89);
    }
    .FooterEndL-Pyment {
        margin-bottom: 10px;
    }
} 