.bodyContent {
	display: flex;
	flex-direction: column;
}
.layerOne {
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
}
.profil {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10%;
	background-color: #090806;
	border-radius: 8px;
	border: solid 1px white;
}
.profil img {
	width: 100px;
}
.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
}
.profil-info {
	width: 100%;
}
.profil-info>div , .profil-menu{
	text-align: center;
}
.name {
	/* +7-xxx-xxx-xx-xx */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 133.02%;
	/* identical to box height, or 36px */
	letter-spacing: 0.04em;

	color: #A3A3A3;
}
.profileText {

	/* Личные данные */
	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 133.02%;
	/* or 29px */
	letter-spacing: 0.04em;

	color: #FFFFFF;
}
.balanse {
	display: flex;
	justify-content: space-around;
	margin-left: 5px;
	margin-right: 5px;
}
.balanseText {
	/* Ваш баланс: */
	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 133.02%;
	/* or 29px */
	letter-spacing: 0.04em;

	/* золото */
	background: linear-gradient(180deg, #E8C463 0.31%, #C78E2D 20.1%, #D6AF57 41.98%, #E4C975 52.91%, #F4E497 60.2%, rgba(228, 200, 115, 0.990233) 60.21%, rgba(195, 142, 40, 0.97) 84.69%, #EAC462 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.profil-menu {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: left;
	margin-top: 21px;
}
.profil-menu-border {
	border-top:solid 1px white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.profil-menu-exit {
	display: flex;
	align-items: center;
}
.profile-menu-exitButt {
	padding-right: 5px;
}
.profile-menu-exitButt>svg {
	max-width: 20px;
}




.bonusProgram {
	display: flex;
	border: solid 1px white;
	border-radius: 8px;
	padding-left: 20px;
	width: 67%;
}
.bonusProgram-left-title {
	/* Бонус */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 56px;

	color: #E8E8E8;
}
.bonusProgram-progress {
	display: flex;
	margin-top: 2px;
}
.step-text {
	display: flex;
	width: 52px;
	height: 52px;
	border: solid 1px #FFEACB;
	justify-content: center;
	align-items: center;
	border-radius: 52px;



	/* Ellipse 9 */

	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.09);
	box-shadow: 0px 0px 5px 1px #FFEACB;
	transform: rotate(0.1deg);


	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;

	color: #FFFFFF;

	text-shadow: 0px 0px 3px #FFFFFF;
	transform: rotate(0.1deg);
}
.bonusProgram-progress-seporator {
	height: fit-content;
	margin-top: 12px;
}
.bonusProgram-progress-seporator>svg {
	width: 60px;
}

.step-conditions {
	/* 1000 */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;

	color: #E1E1E1;
	margin-top: 5px;
}

.bonusProgram-progress-step {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bonusProgram-infoStatus {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.bonusProgram-infoStatus-balanse {
	display: flex;
}
.bonusProgram-infoStatus-balanseText {
	/* Ваш баланс: */


	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 133.02%;
	/* identical to box height, or 32px */
	letter-spacing: 0.04em;

	/* текст казино */
	background: linear-gradient(92.75deg, #EEBF68 -5.42%, #FFD68C 24.25%, #FFD68C 61.47%, rgba(238, 191, 104, 0.99) 104.75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.bonusProgram-infoStatus-balanseCount {
	/* Сумма */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	/* identical to box height, or 32px */
	letter-spacing: 0.04em;
	margin-left: 5px;
	color: #FFFFFF;
}
.balanseSVGIco {
	margin-left: 5px;
}

.btnMoneyIn {
	width: fit-content;

	/* Rectangle 88 */

	box-sizing: border-box;


	background: rgba(255, 255, 255, 0.09);
	border: 1px solid #FFFFFF;
	border-radius: 8px;


	/* Пополнить баланс */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 133.02%;
	/* or 33px */
	letter-spacing: 0.04em;

	color: #DCDCDC;

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	margin-left: auto;
	margin-right: auto;

	margin-top: 30px;
}
.bonusProgram-right {
	display: flex;
	margin-left: 20px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-left: solid 1px white;
	padding-left: 10px;
}
.bonusProgram-right-title{
	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 56px;
	color: #E8E8E8;
}

.bonusProgram-rightSeporator>svg {
	height: 50px;
}
.bonusProgram-right-nextStatus {
	/* Первый 10% */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 42px;

	/* золото */
	background: linear-gradient(180deg, #E8C463 0.31%, #C78E2D 20.1%, #D6AF57 41.98%, #E4C975 52.91%, #F4E497 60.2%, rgba(228, 200, 115, 0.990233) 60.21%, rgba(195, 142, 40, 0.97) 84.69%, #EAC462 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	text-shadow: 0px 0px 2px #FFFFFF;

}


.bonusProgram-right-baner {
	width: 95%;
	/* Rectangle 87 */

	box-sizing: border-box;


	background: rgba(255, 255, 255, 0.03);
	border: 0.5px solid #FFFFFF80;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bonusProgram-right-banerTitle {
	/* Бонусы */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	/* identical to box height */

	color: #DAD5D5;
	text-align: center;

}

.banerColl {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}


.right-banerText-RubSvg>svg {
	width: 12px;
	height: auto;
	margin-left: 5px;
}
.bonusProgram-right-banerText {
	/* Удвоение депозита */
	display: flex;
	flex-direction: row;

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;
	margin-top: 10px;
}


.layerTwo {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
	margin-bottom: 20px;
	flex-direction: column;
	align-items: center;
}

.layerTwo-MenuText {
	/* Получить выигрыш */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 53px;
	/* identical to box height */

	color: #FFFFFF;
	cursor: pointer;
}
.layerTwoMenu {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}



.block {
	margin-top: 30px;
  padding: 20px;
  background-color: #f2f2f200;
}
.block>h2 {
  margin-top: 0;
}
.block>form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block>label {
  display: block;
  margin-bottom: 10px;
}
.block>input[type="number"],
.block>select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.block>button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.block>button:hover {
  background-color: #45a049;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
	-moz-appearance: textfield;
}

.input-cash {
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */

	max-width: 400px;
	height: 40px;
	text-align: center;
	padding: 0.25rem;
	/* Rectangle 90 */

	box-sizing: border-box;

	background: rgba(255, 255, 255, 0.07);
	border: 1px solid #FFFFFF;
	border-radius: 4px;



	/* Сумма от 3000 */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 133.02%;
	/* identical to box height, or 43px */
	text-align: center;
	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 0.71);


}

.paymentMethod {
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-sbp, .btn-sbp:active, .btn-sbp:focus, .btn-sbp:hover {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	height: 40px;
	background: #fff;
	border: 1px solid #dee2e6!important;
	padding: 5px 8px;
	color: #3e5569!important;
	font-size: 12px;
	margin: 0.25rem auto;
	max-width: 327px;
	font-family: "Myriad Regular";
}
.formText {
	/* Пополнить */
	/* Выберите сумму для вывода: */
	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 133.02%;
	/* identical to box height, or 48px */
	text-align: center;
	letter-spacing: 0.04em;

	color: #FFFFFF;
}



.solvedOutBalanse {
	/* Доступная длы вывода сумма: 0 руб. */
	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 133.02%;
	/* identical to box height, or 48px */
	text-align: center;
	letter-spacing: 0.04em;

	color: rgba(255, 255, 255, 0.71);

	border-bottom: solid 1px white;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.lastInp {
	margin-top: 10px;
	margin-bottom: 10px;
}
.btnBalanseOut {
	/* Rectangle 86 */

	box-sizing: border-box;
	border-radius: 8px;
	border: solid 1px goldenrod;
	background-color: #09080600;
}

.btnBalanseOut-text {
	/* Вывести средства */

	font-family: 'Brygada 1918';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 133.02%;
	/* identical to box height, or 48px */
	letter-spacing: 0.04em;

	color: #FFFFFF;


	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

}